  .dialog-container {
    width: 50rem;
  }
  .dialog-container h1{
    text-align: center;
  }
  .dialog-header {
    background-color: black;
    color: #ffffff;
    padding: 1rem;
  }
  
  .dialog-content {
    padding: 1rem;
    background-color: #ffffff;
    color: #2e2e2e;
  }
  
  .dialog-footer {
    text-align: center;
    padding: 1rem;
  }
  
  .dialog-footer .p-button {
    margin-right: 1rem;
  }
   