.service {
  margin-top: 80px;
  margin-bottom: 80px;
}

.s_img {
  max-width: 100%; 
  height: auto;
  margin-left: auto; 
  margin-right: auto;
  display: block; 
}

.service .content {
  /* margin-top: 0px;  */
  text-align: justify; 
  padding: 20px;
}

.service .btn-primary {
  background-color: #274135;
  color: #fdf0d5;
  border: none;
}

.service .btn-primary:hover {
  background-color: #5e9b50;
  color: #fdf0d5;
  border: none;
}

.service .content h2 {
  margin-bottom: 10px; 
  color: #274135;
  text-align: center;
}

.service .content p {
  margin-bottom: 20px; 
}
